<!--================Inquiry Area =================-->
<section class="contact_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="inquiryh3" style="text-align: center;">Inquiry-Form</h3>
                <form class="row contact_form" #inquiry="ngForm" (ngSubmit)="onSubmit(inquiry.value)">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                <input type="text" name="Iname" placeholder="Enter Your Name"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your Name'"
                                    required class="single-input-primary single-input">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
                                <input type="text" name="address" placeholder="Address" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Adresss'" required
                                    class="single-input-primary single-input">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                                <input type="text" name="Iphone" placeholder="Enter Your Mobile no."
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your Mobile-No'"
                                    required class="single-input-primary single-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                                <input type="text" name="Ivyapar" placeholder="Enter Your Business"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your Business*'"
                                    required class="single-input-primary single-input">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                                <input type="text" name="Ijob" placeholder="Enter Your Job-Name"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your Job-Name*'"
                                    required class="single-input-primary single-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                                <textarea name="Ipadresss" placeholder="Enter Your Permenent Adresss"
                                    onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Enter Your Permenent Address'" required
                                    class="single-input-primary single-input"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-users" aria-hidden="true"></i></div>
                                <input type="text" name="Icast" placeholder="Enter Your Cast"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your Cast'"
                                    required class="single-input-primary single-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                <input type="text" name="Imail" placeholder="Enter Your Mail-Id"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your Mail-Id'"
                                    required class="single-input-primary single-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                <input type="text" name="Ibdate" placeholder="Enter Your Birthday Date"
                                onfocus="(this.type='date')"
                                onblur="(this.type='text')" required
                                    class="single-input-primary single-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group-icon mt-10">
                                <div class="switch-wrap d-flex justify-content-between single-input-primary single-input">
                                    <p>2BHK</p>
                                    <div class="primary-switch" style="margin-top: 10px;">
                                        <input type="checkbox" id="primary-switch">
                                        <label for="primary-switch"></label>
                                    </div>
                                    <p>3BHK</p>
                                    <div class="primary-switch" style="margin-top: 10px;">
                                        <input type="checkbox" id="default-switch" >
                                        <label for="default-switch"></label>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                                <input type="number" name="Ibudjet" placeholder="Enter Your Budjet"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Your Budjet'"
                                    required class="single-input-primary single-input">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center">
                        <button type="submit" value="submit" class="btn submit_btn">Send Inquiry</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<!--================Inquiry Area =================-->