<div class="section-top-border">
    <h3 class="title_color" style="text-align: center;margin-top: 45px;">Image Gallery</h3>
    <div class="row gallery-item">
        <div class="col-md-4">
            <a href="assets/Theme/gallery/1.jpg" class="img-gal">
                <img src="assets/Theme/gallery/1.jpg" alt="Not Found" class="img-thumbnail">
            </a>
        </div>
        <div class="col-md-4">
            <a href="assets/Theme/gallery/2.jpg" class="img-gal">
                <img src="assets/Theme/gallery/2.jpg" alt="Not Found" class="img-thumbnail">
            </a>
        </div>
        <div class="col-md-4">
            <a href="assets/Theme/gallery/3.jpg" class="img-gal">
                <img src="assets/Theme/gallery/3.jpg" alt="Not Found" class="img-thumbnail">
            </a>
        </div>
        <div class="col-md-4">
            <a href="assets/Theme/gallery/Bedroom.jpg" class="img-gal">
                <img src="assets/Theme/gallery/Bedroom.jpg" alt="Not Found" class="img-thumbnail">
            </a>
        </div>  
        <div class="col-md-4">
            <a href="assets/Theme/gallery/Dining Table.jpg" class="img-gal">
                <img src="assets/Theme/gallery/Dining Table.jpg" alt="Not Found" class="img-thumbnail">
            </a>
        </div>  
        <div class="col-md-4">
            <a href="assets/Theme/gallery/Living Room.jpg" class="img-gal">
                <img src="assets/Theme/gallery/Living Room.jpg" alt="Not Found" class="img-thumbnail">
            </a>
        </div>  
        <div class="col-md-4">
            <a href="assets/Theme/gallery/The Great Eastern_IMPACT 3D (3) copy.jpg" class="img-gal">
                <img src="assets/Theme/gallery/The Great Eastern_IMPACT 3D (3) copy.jpg" alt="Not Found" class="img-thumbnail">
            </a>
        </div>  
        <div class="col-md-4">
            <a href="assets/Theme/gallery/The Great Eastern_IMPACT 3D (4) copy.jpg" class="img-gal">
                <img src="assets/Theme/gallery/The Great Eastern_IMPACT 3D (4) copy.jpg" alt="Not Found" class="img-thumbnail">
            </a>
        </div>  
        <div class="col-md-4">
            <a href="assets/Theme/gallery/The Great Eastern_IMPACT 3D (5) copy.jpg" class="img-gal">
                <img src="assets/Theme/gallery/The Great Eastern_IMPACT 3D (5) copy.jpg" alt="Not Found" class="img-thumbnail">
            </a>
        </div>  
        <div class="col-md-4">
            <a href="assets/Theme/gallery/The Great Eastern_IMPACT 3D (6) copy.jpg" class="img-gal">
                <img src="assets/Theme/gallery/The Great Eastern_IMPACT 3D (6) copy.jpg" alt="Not Found" class="img-thumbnail">
            </a>
        </div>  
        <div class="col-md-4">
            <a href="assets/Theme/gallery/The Great Eastern_IMPACT 3D (8) copy.jpg" class="img-gal">
                <img src="assets/Theme/gallery/The Great Eastern_IMPACT 3D (8) copy.jpg" alt="Not Found" class="img-thumbnail">
            </a>
        </div>  
        <div class="col-md-4">
            <a href="assets/Theme/gallery/The Great Eastern_IMPACT 3D (9) copy.jpg" class="img-gal">
                <img src="assets/Theme/gallery/The Great Eastern_IMPACT 3D (9) copy.jpg" alt="Not Found" class="img-thumbnail">
            </a>
        </div>  
        <div class="col-md-4">
            <a href="assets/Theme/gallery/The Great Eastern_IMPACT 3D (10) copy.jpg" class="img-gal">
                <img src="assets/Theme/gallery/The Great Eastern_IMPACT 3D (10) copy.jpg" alt="Not Found" class="img-thumbnail">
            </a>
        </div>  
        <div class="col-md-4">
            <a href="assets/Theme/gallery/Bedroom.jpg" class="img-gal">
                <img src="assets/Theme/gallery/Bedroom.jpg" alt="Not Found" class="img-thumbnail">
            </a>
        </div>  
        <div class="col-md-4">
            <a href="assets/Theme/gallery/The Great Eastern_IMPACT 3D (11) copy.jpg" class="img-gal">
                <img src="assets/Theme/gallery/The Great Eastern_IMPACT 3D (11) copy.jpg" alt="Not Found" class="img-thumbnail">
            </a>
        </div>  
        <div class="col-md-4">
            <a href="assets/Theme/gallery/The Great Eastern_IMPACT 3D (12) copy.jpg" class="img-gal">
                <img src="assets/Theme/gallery/The Great Eastern_IMPACT 3D (12) copy.jpg" alt="Not Found" class="img-thumbnail">
            </a>
        </div>  
    </div>
</div>